language = cucumber
output_directory = '../src/test/resources/com/vaadin/tutorial/calculator/it/features'
framework = java
site = https://app.hiptest.com
with_folders = true
step_definitions_output_directory = '../src/test/java/com/vaadin/tutorial/calculator/it/features'
actionwords_output_directory = '../src/test/java/com/vaadin/tutorial/calculator/it/features'
package = 'com.vaadin.tutorial.calculator.it.features'
push_format=junit